
body{
    margin: 0;
    box-sizing: border-box;
}
.row-1{
    background-color: black;
    height: 20%;
}
.nav-bar a{
    font-size: 20px;
    text-decoration: none;
    color: darkgrey;
}
.login a {
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: darkgray;
}
.row-2{
    height: 50%;
}
.row-2 .col-1{
    background-color: rgba(169, 169, 169, 0.185);
}
.col-1 a{
    text-align: center;
    text-decoration: none;
    padding-left: 60px;
}
.col-1 button {
    width: 100%;
    margin-top: 20px;
}

.row-3{
    background-color: black;   
}
.row-3 p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    .login a {
        float: left;
    }
}